body{
  font-family: sans-serif;
}
.tooltip{
  display: none;
}
li:hover .tooltip{
  background-color: white;
  display: block;
  border: 1px solid black;
  width: 400px;
  height: 200px;
  position: relative;
  float: right;

}
